:root{
    --one:#264653;
    --two:#2A9D8F;
    --three:#E9C46A;
    --four:#F4A261;
    --five:#E76F51;
    --six:#13272e;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}

p{
    margin: 0;
}
li{
    list-style: none;
}

a{
    color: var(--five);
}
.box{
    color: white;
    background-color: var(--six);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.space_between{
    justify-content: space-around;
}


body{
    color: white;
    background-color: var(--one);
}

.Totel-Cash, .Date{
    margin: 5px 0;
    text-align: center;
}
.Totel-Cash p, .Date p{
    color: var(--one);
    background-color: var(--three);
}


.navup ul, .navdown ul{
    background: #13272e;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navup ul li, .navdown ul li{
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.navup ul li a, .navdown ul li a{
    text-decoration: none;
    width: 100%;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.navup ul li a img, .navdown ul li a img{
    height: 30px;
    margin: 5px 0;
}
.navup ul li a:hover, .navdown ul li a:hover{
    color: #13272e;
    background-color: var(--two);
}
.active{
    color: #13272e;
    background-color: var(--five);
}



.navup, .navdown{
    height: 100vh;
    width: 120px;
    z-index: 1000;
    position: fixed;
}
.navdown{
    top: 0;
    right: 0;
    border-left: 2px solid var(--three);
}
.navup{
    border-right: 2px solid var(--three);
    top: 0; 
    left: 0; 
}

.section{
    background-color: var(--one);
    width: 50vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid var(--three);
    border-top: 2px solid var(--three);
    
}

#income{
    text-align: center;
    color: var(--six);
    background-color: var(--three);
}

/* player info */
#playername{
    margin: 5px;
}

#prestige_level,#children,#age{
    font-size: 15px;
    margin: 2px;
    color: rgb(143, 143, 143);
    font-weight: lighter;
}
#health_bar{
    width: 100%;
    height: 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}
#health{
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 0, 0);
}
.healthbox{
    text-align: start;
    width: 80%;
}

#jobs_list, #courses_list{
    width: 90%;
    margin: 0 auto;

}
.heading{
    margin-top: 10px;
    padding: 10px;
    text-align: start;
    color: var(--six);
    background-color: var(--three);
}
.btn1{
    background-color: #1c887b;
    padding: 10px;

    outline: none;
    border: none;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}
.btn1:hover{
    background-color: #13423d;
}

.newlife{
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.msg_main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999999999;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    
}
#msg_close_btn{
    position: absolute;
    top: -55px;
    right: 0;
}
.msg_body{
    position: relative;
    color: var(--six);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 80vw;
    height: 50vh; */
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    border: 2px solid var(--three);
}

@media only screen and (max-width: 800px) {
    .navup, .navdown{
        height: 40px;
        width: 100%;
        z-index: 1000;
        position: fixed;
    }
    .navdown{      
        top: 40px;
        border: 2px solid var(--three);
        
    }
    .navup{
        border: none;
        top: 0; 
    }
    
    .navup ul, .navdown ul{
        background: #13272e;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navup ul li, .navdown ul li{
        list-style: none;
        margin: 0px 0;
    }
    .navup ul li a, .navdown ul li a{
        text-decoration: none;
        height: 40px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0;
    }
    .navup ul li a img, .navdown ul li a img{
        height: 20px;
        
    }
    .Totel-Cash{
        z-index: 10;
        bottom: -120px;
        width: fit-content;
        margin: 5px 0;
        position: absolute;
    }
    .Date{
        bottom: -80px;
        right: 0;
        width: fit-content;
        margin: 5px 0;
        text-align: start;
        position: absolute;
    }
    .section{
        background-color: var(--one);
        width: 90vw;
        min-height: 100vh;
        margin: 0 auto;
        padding: 10px;
        border-bottom: 2px solid var(--three);
        border-top: 2px solid var(--three);
        
    }
    .gap{
        width: 100%;
        height: 150px;
    }
}